/* колер основного тексту color: #2E2F42;*/
/* колер вторинного тексту color: #434455;*/
/*білий color: #FFFFFF; */
/*background: #404BBF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;*/
/* IRIS color: #4D5AE5;*/ /* background: #2e2f42;*/
/*color: #E7E9FC;*/ /* color: #F4F4FD*/
/* колер вторинного фону color: #434455;*/
/*background: #F4F4FD;*/

:root {
  --main-title-color: #434455;
  --second-title-color: #2e2f42;
  --main-btn-color: #404bbf;
  --second-btn-color: #e7e9fc;
  --accent-color: #4d5ae5;
  --main-text-color: #ffffff;
  --background-color: #f4f4fd;
  --text-company-color: #8e8f99;
  --text-accent-company: #404bbf;
  --soc-focus-color: #31d0aa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@keyframes rotator {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--main-text-color);
  color: var(--main-title-color);
}
.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}
.cont-pre {
  display: none;
}

.page-header {
  border-bottom: 1px solid var(--second-btn-color);
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0;
}
.span {
  color: var(--accent-color);
}
.site-nav {
  display: none;
}
.hamburger {
  /* position: fixed; */
  /* display: inline-flex; */
  /* position: sticky; */
  top: 24px;
  right: 16px;
  width: 32px;
  height: 22px;
  /* z-index: 1; */
  /* margin-right: 24px;
  margin-left: auto;
  margin-bottom: 24px; */
  padding: 0;
  border: none;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  background-color: transparent;
}
.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--main-text-color);
  padding: 40px 40px;
}
.mob-menu > .container-mob {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.container-mob {
}
.mob-close {
  display: block;
  margin-left: auto;
  margin-bottom: 16px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-btn-color);
}
.mob-nav {
  margin-top: 16px;
  padding: 0;
}
.mob-list {
  margin-bottom: 40px;
}

.mob-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-title-color);
}
.link-current {
}
.mob-cont {
}
.mob-address {
  margin-bottom: 48px;
}
.mob-tel {
  text-decoration: none;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-bottom: 40px;
}
.mob-email {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.link {
}
.icon-social {
}
.mob-soc-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 54px;
}

.mob-soc-title {
  width: 40px;
  height: 40px;
}
.mob-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-soc-link:is(:hover, :focus) {
  background-color: var(--text-accent-company);
}

/*Button*/
/* .hero-btn-activ {
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  border: none;
  padding: 16px 32px;

  color: var(--main-text-color);
  background: var(--main-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin-top: 48px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-activ:is(:hover, :focus) {
  background-color: var(--accent-color);
} */
/* .btn {
}
.hero-text-btn {
  color: var(--main-text-color);
}
.hero-btn-primary .btn:hover,
.btn:focus {
  color: var(--accent-color);
  background: var(--second-btn-color);
} */
/* .button-activ {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--main-text-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  background: var(--main-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
} */
/* .button-primary {
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  color: var(--accent-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  background: var(--second-btn-color);
  padding: 12px 24px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .button-primary:hover {
  color: var(--main-text-color);
  background-color: var(--main-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-primary:focus {
  color: var(--main-text-color);
  background-color: var(--accent-color);
} */

/*Portfolio*/

.section .item {
}
.section .item + .item {
  margin-left: 24px;
}


.shadow {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*Footer*/

.icon-social {
}
