p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@keyframes rotator {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--main-text-color);
  color: var(--main-title-color);
}

/* .page-header {
  border-bottom: 1px solid #31d0aa;
} */
.header-container {
  max-width: 375px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}
.page-header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
}
.header-logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(20/18);
  letter-spacing: -0.03em;
  color: #111111;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0;
}
.span-header {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(20/18);
  letter-spacing: -0.03em;
  color: #111111;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0;
}
.site-nav-header {
  display: none;
}
.header-list {
}
.header-item {
}
.header-nav-link {
}
.header-link-current {
}
.header-cont-pre {
  display: none;
}
.header-soc-list {
  display: flex;
  
  list-style-type: none;
  gap: 18px;
}
.header-soc-title {
}
.header-soc-link {
}
.header-link {
}
.icon-social-header {
}
.header-burger {
  top: 24px;
  right: 16px;
  width: 32px;
  height: 22px;
  /* z-index: 1; */
  /* margin-right: 24px;
  margin-left: auto;
  margin-bottom: 24px; */
  padding: 0;
  border: none;
  stroke: currentColor;
  fill: currentColor;
  background-color: transparent;
}
.header-menu {
  position: fixed;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: 100;
  background-color: #1E1823;
  padding: 24px 32px;
}
.header-menu > .container-mob-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.is-hidden {
}
.no-scroll {
  overflow: hidden;
}
.container-mob-header {
}
.header-mob-close {
  display: block;
  margin-left: auto;
  margin-bottom: 100px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: #FFFFFF;
}
.header-mob-list {
  margin-bottom: 40px;
}
.header-mob-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mob-item:not(:last-child) {
  margin-bottom: 24px;
}
.header-mob-item:is(:hover, :focus){
  color: #FD9222;
}
.header-mob-link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.mob-item {
}
.header-cont {
}

/*
.header-burger {
  position: fixed;
  display: inline-flex;
  position: sticky; 
} */ 
/*
.header-mob-nav {
  margin-top: 16px;
  padding: 0;
}
.header-mob-list {
  
}


.header-link-current {
}
.header-cont {
}
.mob-address {
  margin-bottom: 48px;
}
.mob-tel {
  text-decoration: none;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-bottom: 40px;
}
.mob-email {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.header-link {
}
.icon-social-header {
}
.header-soc-list {
  
}

.header-soc-title {
  width: 40px;
  height: 40px;
}
.header-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-soc-link:is(:hover, :focus) {
  background-color: var(--text-accent-company);
}
.address-list {
  display: flex;
  gap: 40px;
} */

/*Portfolio*/

/* .section .item {
}
.section .item + .item {
  margin-left: 24px;
}

/*Footer*/

/* .icon-social {
} */ 
