p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@keyframes rotator {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--main-text-color);
  color: var(--main-title-color);
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 768px;
  }
  .header-logo{
    width: 170px;
    height: 21px;

  }
  .header-mob-item {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 30%;
  }
  .page-header {
    border-bottom: 1px solid #31d0aa; 
  }
  .header-container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
  .page-header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav {
  }
  .header-logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(20/18);
    letter-spacing: -0.03em;
    color: #111111;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0
  }
  .span-header {
    font-style: italic;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 1158px;
  }
  .header-mob-item {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 30%;
  }
  .page-header {
    border-bottom: 1px solid #31d0aa; 
  }
  .header-container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
  .page-header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav {
  }
  .header-logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(20/18);
    letter-spacing: -0.03em;
    color: #111111;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0
  }
  .span-header {
    font-style: italic;
  }
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media screen and (min-width: 1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

}

/* .cont-pre {
  display: none;
} */


.page-header {
  border-bottom: 1px solid #31d0aa; 
}
.header-container {
  min-width: 768px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}
.page-header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
}
.header-logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(20/18);
  letter-spacing: -0.03em;
  color: #111111;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0
}
.span-header {
  font-style: italic;
}
.site-nav-header {
  display: none;
}
.header-list {
}
.header-item {
}
.header-nav-link {
}
.header-link-current {
}
.header-cont-pre {
  display: none;
}
.header-soc-list {
  display: flex;
  list-style-type: none;
  gap: 18px;
}
.header-soc-title {
}
.header-soc-link {
}
.header-link {
}
.icon-social-header {
}
.header-burger {
  top: 24px;
  right: 16px;
  width: 32px;
  height: 22px;
  /* z-index: 1; */
  /* margin-right: 24px;
  margin-left: auto;
  margin-bottom: 24px; */
  padding: 0;
  border: none;
  stroke: currentColor;
  fill: currentColor;
  background-color: transparent;
}
.header-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  z-index: 100;
  background-color: #1E1823;
  padding: 24px 32px;
}
.header-menu > .container-mob-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.is-hidden {
}
.no-scroll {
  overflow: hidden;
}
.container-mob-header {
}
.header-mob-close {
  display: block;
  margin-left: auto;
  margin-bottom: 100px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: #FFFFFF;
}
.header-mob-list {
}

.header-mob-item:not(:last-child) {
  margin-bottom: 24px;
}
.header-mob-item:is(:hover, :focus){
  color: #FD9222;
}
.header-mob-link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.mob-item {
}
.header-cont {
}


/* .site-nav-header {
  display: flex;
  align-items: center;
  margin-left: 120px;
}
/* .header-nav-link {
  
}
.header-link-current {
  /* position: relative; */
  /* text-decoration: none; */
  /* font-family: 'Montserrat', sans-serif; */
  /* transform: scale(1); */
/* } */
/* 
.header-link-current:hover::after {
  /* transform: scale(0); */
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/*
.site-nav-header .header-link {
  display: block; */ 
/* 
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; */
  /* flex: none;
  order: 0;
  flex-grow: 0;
  color: var(--second-title-color);
} */

/*
@media screen and (max-width: 1158px) {
  .address-list .item + .item {
    margin-top: 4px;
  }
}

.header-burger { */
  /* position: fixed; 
  display: inline-flex; 
  position: sticky; */
  /* top: 24px;
  right: 16px;
  width: 32px;
  height: 22px; */
  /* z-index: 1; */
  /* margin-right: 24px;
  margin-left: auto;
  margin-bottom: 24px; */
  /* padding: 0;
  border: none;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  background-color: transparent;
} */
/* .header-menu {
  position: fixed;
  top: 0;
  width: 60%;
  height: 100%;
  background-color:  #1E1823;;
  color: #111111;
  padding: 40px 40px;
} */
/* .header-menu > .container-mob-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
} */

/* .header-nav {
  margin-top: 16px;
  padding: 0;
}
.header-list {
  margin-bottom: 40px;
}
.header-mob-item:not(:last-child) {
  margin-bottom: 40px;
} */
/* .header-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-title-color);
} */

/* .header-soc-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
}

.header-soc-title {
  width: 40px;
  height: 40px;
}
.header-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-soc-link:is(:hover, :focus) {
  color: var(--text-accent-company);
}
@media screen and (max-width: 1158px) {
  .address-list .item + .item {
    margin-top: 4px;
  }
}
.site-address {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-address:hover,
.site-address:focus {
  color: var(--accent-color);
}
.site-address .item + .item {
  margin-left: 40px;
}
 */

/*Section*/
/* @media screen and (max-width: 1157px) {
  .section-cont {
    display: none;
  }
} */

/* @media screen and (max-width: 1157px) {
  .footer-container {
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 530px;
  }
} */

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} 

/* ------------------------------------------------------------------ */

/* 
.icon-social + .icon-social {
  margin-left: 24px;
} */
