@media (min-width: 768px) {
  :root {
    --container-width: 768px;
  }
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .page-header {
    padding: 24px 0;
  }
  .header-burger {
    width: 32px;
    height: 32px;
  }
  .header-mob-nav {
    margin-left: 40%;
  }
}
